
p a {
    font-size:30px;
    color: white;
    clear: both; 
    text-decoration: none;
}

h2 {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
}




.banner-area{
    background-image: url(images/JadaGif.gif);
    background-size: cover; 
    background-position: center center; 
    width: 100%; 
    
}

.banner-area:after{
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    display: black; 
    width: 100%; 
    height: 100%; 
    background: black; 
    opacity: .3; 
    z-index: -1; 
}

.content-area{ 
    position: relative; 
    background: black;
    padding-top: 5%;
    height:auto; 
    overflow: auto; 
    display:flow-root; 
}

.content-area h2{ 
    font-size: 40px; 
    margin: 0; 
    margin-left: 50;
    padding-top: 30px; 
    letter-spacing: 4px;
}

 .content-area p{
    padding: 2% 0; 
    line-height: 35px; 
    text-align: center; 
    
} 
    

