html{
    height: 100%; 
    overflow-x: clip;
}

body {
    background: black;
    background-repeat: no-repeat;
    font-family: "Monaco";
    margin: 0%;
    height: 100%; 
    overflow-x: clip;
}   


div{
    text-align:center;
     
}

p {
    font-size:30px;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}


.circle {
    border-radius: 2000px;
    background-color: transparent;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} 

h1 {
    color:white;
    font-size: 80px;
}

h2 {
    color: white;
    font-size: 60px;
}

h3 {
    color: white;
    font-size: 50px;
}

h4 {
    color: white;
    font-size: 50px;
}

h5 {
    color: white;
    font-size: 30px;
}

header{
    
    width: 100%;
    height: 80px;
    top: 0; left: 0; 
    background: transparent;
    position: fixed; 
    z-index: 1000;   /* THIS is the key line */
    align-items: center; 

}

.banner-area h2{ 
    padding-top: 4%;
    font-size: 80px; 
    color: white; 
}

.banner-area h1{ 
    font-size: 80px; 
    color: white; 
}

.footer{
    background-color: green;
    color: green; 
    display: block;
    margin-top: auto; 
}

footer.footer {
  margin-top: auto;   /* ensures footer stays at bottom if page is short */
}

.footerDesc{
    float: left;
    font-size: 20px; 
    padding: 20px; 
    position: relative;
    display: inline-block; 
    
}

.footerRight{
    float: right;
    color: white;
    font-size: 20px; 
    padding: 30px; 
    position: relative;
    display: inline-block; 
}

.button 
{
   display: inline-block;
    position: relative;
    padding: 15px 5%;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 30px;
    border-radius: 20px;
    background-color: green;
    color: white;
    text-decoration: none;

}

.button:hover
{
    display: inline-block;
    position: relative;
    padding: 15px 5%;
    margin-right: auto;
    margin-bottom: 50px;
    height: 5%;
    font-size: 30px;
    border-radius: 20px;
    background-color: limegreen;
    color: black;
    text-decoration: none;
}

.Iconimg { 
    display: inline-block; 
    height:100px; 
    width:100px; 
    border-radius:100%; 
    float: left;
    padding:0;
     margin:0;
    margin-left: 30px;
}

nav {
    float: right; 
    line-height: 100px; 
}

nav a{ 
    text-decoration: none; 
    letter-spacing: 3px; 
    font-size: 20px; 
    color: white;
    padding: 40px 10px; 
    margin: 0 1px;
    font-weight: 500;
    
}

nav a:hover{
    background: white; 
    color: black; 
    font-weight: 700;
}


.content-area{ 
    height: relative; 
    position: relative; 
    background: black;
    padding-top: 5%;

}

.content-area h2{ 
    font-size: 40px; 
    margin: 0; 
    margin-left: 50;
    padding-top: 30px; 
    letter-spacing: 4px;
}

 .content-area p{
    padding: 2% 0; 
    line-height: 35px; 

    
} 


.BlogBigLetter
{
    font-size: 50px; 
    padding: 0px; 
    margin: 0px;
    color: green; 
    float: center;
}

.BlogSmallLetter 
{
    font-size: 30px;
    box-sizing: border-box;
    padding: 0px; 
    margin: 0px;
    color: white; 
}

.demobanner-area{
    background-image: url(images/SilentNumbersTitle.png);
    background-size: cover;
    background-position: center center; 
    top: 100px; 
    height: clamp(160px, 30vh, 320px);
    width: 90%;
    margin-left: 5%;
    background-size: contain;  /* IMPORTANT for fitting */
    background-repeat: no-repeat;
    margin-top: 10%; 
    z-index: 1;
}

.studiobanner-area{
    background-image: url(images/StudioT12_LinkedInBanner.png);
    background-size: cover;
    background-position: center center; 
    height: clamp(160px, 30vh, 320px);
    width: 90%;
    background-size: contain;  /* IMPORTANT for fitting */
    background-repeat: no-repeat;
    
    z-index: 1;
    margin-top: 10%;    /* pushes it below the fixed header */
    
}


.wrapper{
    width: 90%; 
    margin: 0 auto;
    overflow: auto;
}


.demobanner-area h2{ 
    padding-top: 4%;
    font-size: 80px; 
    color: white; 
}

.demobanner-area h1{ 
    font-size: 80px; 
    color: white; 
}

.simple-image{
  display: block;           /* kills inline weirdness */
  margin: 40px auto 0;        /* centers horizontally */
  max-width: 100%;          /* responsive */
  height: auto;     
}

.MainBlogBigLetter
{
    font-size: 50px; 
    padding: 20px; 
    margin: 0px;
    color: green; 
    margin-left: 150px;
    margin-right: 150px;
  
    text-align: right;
}

.MainBlogSmallLetter 
{
    font-size: 30px; 
    padding: 0px; 
    margin: 30px;
    margin-left: 20px;
    text-align: left;


}

.MainBlogSmallerLetter 
{
    font-size: 20px;
    text-align: left;
    padding: 0px; 
    margin: 0px;
    position: absolute;
    margin-left: 150px;
    opacity: 70%;
    display: inline-block; 
}

.MainBlogImageLeft 
{
    height: 300px; 
    Width: 300px; 
    display: inline-block;
    
}

.MainBlogImageRight
{
    height: 600px; 
    Width: 600px; 
    padding-left: 200px;
    padding-right: 100px;
    display: inline-block;
    
}

.MainblogDiv
{
    padding-top: 200px; 
}